In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
#set executable path
executable_path = {'executable_path':ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\Tay\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [3]:
browser.visit('https://redplanetscience.com/')
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
page = browser.html
page[:1000]

'<html><head>\n      <meta charset="utf-8">\n      <meta name="viewport" content="width=device-width, initial-scale=1">\n      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">\n      <link rel="stylesheet" type="text/css" href="css/font.css">\n      <link rel="stylesheet" type="text/css" href="css/app.css">\n      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">\n      <title>News - Mars Exploration Program</title>\n   </head>\n   <body>\n      <div class="col-md-12">\n      <div class="row">\n      <nav class="navbar navbar-expand-lg navbar-light fixed-top">\n         <div class="container-fluid">\n            <a class="navbar-brand" href="#"> \n            <img src="image/nasa.png" width="8'

In [5]:
soup = BeautifulSoup(page)

In [6]:
slide_elem = soup.select_one('div.list_text')
slide_elem

<div class="list_text">
<div class="list_date">May 2, 2021</div>
<div class="content_title">The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover</div>
<div class="article_teaser_body">Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.</div>
</div>

In [7]:
slide_elem.find('div', class_='content_title').text

"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover"

In [8]:
slide_elem.find('div', class_='article_teaser_body').text

'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'

In [9]:
all_titles = [i.text for i in soup.find_all('div',class_='content_title')]
all_descrip = [i.text for i in soup.find_all('div',class_='article_teaser_body')]
list(zip(all_titles, all_descrip))

[("The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
  'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'),
 ("NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet",
  'The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.'),
 ("NASA Wins 4 Webbys, 4 People's Voice Awards",
  'Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA\'s Global Climate Change website and Solar System Interactive.'),
 ("NASA's Mars 2020 Will Hunt for Microscopic Fossils",
  "A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life."),
 ('New Selfie Shows Curiosity, the Mars Chemist',
  'The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.'),
 ("NASA's Perseverance Mars Rover Gets Balanced",
  "The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet."),
 ("10.9 Million Names Now Aboard NASA's Perseverance Mars Rover",
  "As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars."),
 ('Mars Scientists Investigate Ancient Life in Australia',
  "Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "),
 ("NASA's Mars Perseverance Rover Gets Its Sample Handling System",
  'The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.'),
 ('Join NASA for the Launch of the Mars 2020 Perseverance Rover',
  'No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.'),
 ("How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus ",
  'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'),
 ('NASA Adds Return Sample Scientists to Mars 2020 Leadership Team',
  'The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.'),
 ("NASA's Mars 2020 Rover Tests Descent-Stage Separation",
  "A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft."),
 ("NASA's Curiosity Keeps Rolling As Team Operates Rover From Home",
  'The team has learned to meet new challenges as they work remotely on the Mars mission.'),
 ('Two Rovers to Roll on Mars Again: Curiosity and Mars 2020',
  'They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.')]

## Featured Images

In [10]:
browser.visit('https://spaceimages-mars.com')

In [11]:
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [12]:
page = browser.html
img_soup = BeautifulSoup(page, 'html.parser')

In [13]:
img_soup.find('img',class_='fancybox-image')

In [14]:
img_rel_url = img_soup.find('img',class_='fancybox-image').get('src')
img_rel_url

'image/featured/mars2.jpg'

In [15]:
img_url = f'https://spaceimages-mars.com/{img_rel_url}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [16]:
browser.visit('https://galaxyfacts-mars.com/')

In [17]:
page = browser.html
soup = BeautifulSoup(page, 'html.parser')

In [18]:
table = soup.find('table',class_='table table-striped')

In [19]:
row_titles = table.find_all('th', scope='row')
row_titles =[i.text for i in row_titles]
row_titles

['Equatorial Diameter:',
 'Polar Diameter:',
 'Mass:',
 'Moons:',
 'Orbit Distance:',
 'Orbit Period:',
 'Surface Temperature:',
 'First Record:',
 'Recorded By:']

In [20]:
row_data = table.find_all('td')
row_data = [i.text.strip('\t') for i in row_data]
row_data

['6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 ( Phobos  &  Deimos )',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 '-87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [21]:
import pandas as pd

In [22]:
pd.DataFrame({'Mars Thing':row_titles, 'Values':row_data})

             Mars Thing                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:        2 ( Phobos  &  Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# Per the Module

In [23]:
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns=['Description','Mars','Earth']
df = df.set_index('Description')
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [24]:
df.to_html

<bound method DataFrame.to_html of                                     Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C>

In [25]:
second_col = pd.read_html('https://galaxyfacts-mars.com/')[1]
second_col.columns=['Description','Value']
second_col

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

# Set the executable path and initialize Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

### Visit the NASA Mars News Site

# Visit the mars nasa news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

slide_elem.find('div', class_='content_title')

# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

### JPL Space Images Featured Image

# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')
img_soup

# find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

# Use the base url to create an absolute url
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

### Mars Facts

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

df.to_html()

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'

browser.visit(url)

# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.


# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

# 5. Quit the browser
browser.quit()