In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
#set executable path
executable_path = {'executable_path':ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\Tay\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [3]:
browser.visit('https://redplanetscience.com/')
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
page = browser.html
page[:1000]

'<html><head>\n      <meta charset="utf-8">\n      <meta name="viewport" content="width=device-width, initial-scale=1">\n      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">\n      <link rel="stylesheet" type="text/css" href="css/font.css">\n      <link rel="stylesheet" type="text/css" href="css/app.css">\n      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">\n      <title>News - Mars Exploration Program</title>\n   </head>\n   <body>\n      <div class="col-md-12">\n      <div class="row">\n      <nav class="navbar navbar-expand-lg navbar-light fixed-top">\n         <div class="container-fluid">\n            <a class="navbar-brand" href="#"> \n            <img src="image/nasa.png" width="8'

In [5]:
soup = BeautifulSoup(page)

In [6]:
slide_elem = soup.select_one('div.list_text')
slide_elem

<div class="list_text">
<div class="list_date">May 5, 2021</div>
<div class="content_title">Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</div>
<div class="article_teaser_body">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div>
</div>

In [7]:
slide_elem.find('div', class_='content_title').text

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [8]:
slide_elem.find('div', class_='article_teaser_body').text

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. "

In [9]:
all_titles = [i.text for i in soup.find_all('div',class_='content_title')]
all_descrip = [i.text for i in soup.find_all('div',class_='article_teaser_body')]
list(zip(all_titles, all_descrip))

[("Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest",
  "Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. "),
 ("Curiosity Mars Rover's Summer Road Trip Has Begun",
  'After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.'),
 ("How NASA's Mars Helicopter Will Reach the Red Planet's Surface",
  'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'),
 ("A New Video Captures the Science of NASA's Perseverance Mars Rover",
  'With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.'),
 ("Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter",
  'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'),
 ("NASA Readies Perseverance Mars Rover's Earthly Twin ",
  "Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."),
 ("Robotic Toolkit Added to NASA's Mars 2020 Rover",
  "The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover. "),
 ("NASA's Mars Rover Drivers Need Your Help",
  'Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.'),
 ("InSight's 'Mole' Team Peers into the Pit",
  'Efforts to save the heat probe continue.'),
 ("Deadline Closing for Names to Fly on NASA's Next Mars Rover",
  'You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover. '),
 ("NASA's Curiosity Rover Finds an Ancient Oasis on Mars",
  "New evidence suggests salty, shallow ponds once dotted a Martian crater â€” a sign of the planet's drying climate."),
 ("NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight",
  'Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.'),
 ("NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes",
  'After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.'),
 ('With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen',
  'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. '),
 ('Join NASA for the Launch of the Mars 2020 Perseverance Rover',
  'No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.')]

## Featured Images

In [10]:
browser.visit('https://spaceimages-mars.com')

In [11]:
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [12]:
page = browser.html
img_soup = BeautifulSoup(page, 'html.parser')

In [13]:
img_soup.find('img',class_='fancybox-image')

In [14]:
img_rel_url = img_soup.find('img',class_='fancybox-image').get('src')
img_rel_url

'image/featured/mars3.jpg'

In [15]:
img_url = f'https://spaceimages-mars.com/{img_rel_url}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts

In [16]:
browser.visit('https://galaxyfacts-mars.com/')

In [17]:
page = browser.html
soup = BeautifulSoup(page, 'html.parser')

In [23]:
table = soup.find('table',class_='table')

In [24]:
row_titles = table.find_all('th', scope='row')
row_titles =[i.text for i in row_titles]
row_titles

[' Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [33]:
row_data = table.find_all('tr')
row_data = [i for i in row_data]
mars = [i.text for i in table.find_all('span',class_='orange')]
earth = [i.text.strip('\t') for i in table.find_all('span',class_='purple')]
mars, earth

([' Mars',
  '6,779 km',
  '6.39 Ã— 10^23 kg ',
  '2',
  '227,943,824 km',
  '687 Earth days',
  '-87 to -5 Â°C'],
 [' Earth ',
  '12,742 km',
  '5.97 Ã— 10^24 kg',
  '1',
  '149,598,262 km',
  '365.24 days',
  '-88 to 58Â°C'])

In [37]:
x = pd.DataFrame({'Description': row_titles, mars[0]:mars, earth[0]:earth})
x = x.set_index('Description')
x

                                      Mars           Earth
Description
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 Ã— 10^23 kg   5.97 Ã— 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 Â°C      -88 to 58Â°C

In [21]:
import pandas as pd

# Per the Module

In [23]:
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns=['Description','Mars','Earth']
df = df.set_index('Description')
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 Â°C      -88 to 58Â°C

In [24]:
df.to_html

<bound method DataFrame.to_html of                                     Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 Â°C      -88 to 58Â°C>

In [25]:
second_col = pd.read_html('https://galaxyfacts-mars.com/')[1]
second_col.columns=['Description','Value']
second_col

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
from webdriver_manager.chrome import ChromeDriverManager


def scrape_all():
    # Initiate headless driver for deployment
    executable_path = {'executable_path': ChromeDriverManager().install()}
    browser = Browser('chrome', **executable_path, headless=True)

    news_title, news_paragraph = mars_news(browser)

    # Run all scraping functions and store results in a dictionary
    data = {
        "news_title": news_title,
        "news_paragraph": news_paragraph,
        "featured_image": featured_image(browser),
        "facts": mars_facts(),
        "last_modified": dt.datetime.now(),
        "mars_hemispheres": mars_hemispheres(browser)
    }

    # Stop webdriver and return data
    browser.quit()
    return data


def mars_news(browser):

    # Scrape Mars News
    # Visit the mars nasa news site
    url = 'https://data-class-mars.s3.amazonaws.com/Mars/index.html'
    browser.visit(url)

    # Optional delay for loading the page
    browser.is_element_present_by_css('div.list_text', wait_time=1)

    # Convert the browser html to a soup object and then quit the browser
    html = browser.html
    news_soup = BeautifulSoup(html, 'html.parser')

    # Add try/except for error handling
    try:
        slide_elem = news_soup.select_one('div.list_text')
        # Use the parent element to find the first 'a' tag and save it as 'news_title'
        news_title = slide_elem.find('div', class_='content_title').get_text()
        # Use the parent element to find the paragraph text
        news_p = slide_elem.find('div', class_='article_teaser_body').get_text()

    except AttributeError:
        return None, None

    return news_title, news_p


def featured_image(browser):
    # Visit URL
    url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
    browser.visit(url)

    # Find and click the full image button
    full_image_elem = browser.find_by_tag('button')[1]
    full_image_elem.click()

    # Parse the resulting html with soup
    html = browser.html
    img_soup = BeautifulSoup(html, 'html.parser')

    # Add try/except for error handling
    try:
        # Find the relative image url
        img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')

    except AttributeError:
        return None

    # Use the base url to create an absolute url
    img_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{img_url_rel}'

    return img_url

def mars_facts():
    # Add try/except for error handling
    try:
        # Use 'read_html' to scrape the facts table into a dataframe
        df = pd.read_html('https://data-class-mars-facts.s3.amazonaws.com/Mars_Facts/index.html')[0]

    except BaseException:
        return None

    # Assign columns and set index of dataframe
    df.columns=['Description', 'Mars', 'Earth']
    df.set_index('Description', inplace=True)

    # Convert dataframe into HTML format, add bootstrap
    return df.to_html(classes="table table-striped")

def mars_hemispheres(browser):

    def get_img_url(url_to_visit):
        browser.visit(url_to_visit)
        a = BeautifulSoup(browser.html, 'html.parser').find_all('a', target='_blank')
        for i in a:
            if i.text=='Sample':
                return i.get('href')

    browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
    page = browser.html

    soup = BeautifulSoup(page, 'html.parser')

    x = soup.find_all('div', class_='item')

    hemisphere_urls = []
    for i in soup.find_all('div', class_='item'):
        to_visit = 'https://astrogeology.usgs.gov' + i.find('a',class_='itemLink product-item').get('href')
        desc = i.find('h3').text
        url = get_img_url(to_visit)
        hemisphere_urls.append({'img_url':url, 'title':desc})
    browser.quit()
    return hemisphere_urls


if __name__ == "__main__":

    # If running as script, print scraped data
    print(scrape_all())